<h1>Listing chatmessages</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Task</th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chatmessages.each do |chatmessage| %>
      <tr>
        <td><%= chatmessage.user_id %></td>
        <td><%= chatmessage.task_id %></td>
        <td><%= chatmessage.message %></td>
        <td><%= link_to 'Show', chatmessage %></td>
        <td><%= link_to 'Edit', edit_chatmessage_path(chatmessage) %></td>
        <td><%= link_to 'Destroy', chatmessage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chatmessage', new_chatmessage_path %>
